.server-error-message {
    position: fixed;
    top: 20%;
    right: 40%;
    left: 35%;
    padding: 20px;
    background-color: #a0385c;
    color: white;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}